* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: black;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 40px;
}

.post {
    background: white;
    width: 450px;
    border-radius: 3px;   
}

.post-header {
    display: flex;
    padding: 10px;
    gap:10px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.main-title {
    display: flex;
    flex-direction: column;
}

.title {
    font-size:15px
}

.sub-tit {
    font-weight: normal;
    color: gray;
}

.icons--right{
    margin-left: auto;
}

.post-img img {
    width: 100%;
    display: block;
    height: auto;
}

.icons {font-size: 30px;}

.post-body {
    padding: 10px;
}

.post-icons {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

.post-body p {
    margin-bottom: 15px;
}

.mark {
    margin-left: auto;
}
